* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[data-bs-theme='dark'] {
    --result-tb: whitesmoke;
    --profile-border: rgba(255, 255, 255, 0.45)
}

body[data-bs-theme='light'] {
    --result-tb: rgba(0, 0, 0, 0.89);
    --profile-border: rgba(0, 0, 0, 0.45)
}

body {
    transition: .3s;
    height: 10000000000px;
}

p, h5 {
    margin-bottom: 0;
}

.register_page_title {
    text-align: center;
    margin-bottom: 25px;
}

.login_form_container {
    width: 250px;
}

.login_form_error_text {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.reg_log_form {
    display: flex;
    align-items: center;
    /*margin-top: 150px;*/
    flex-direction: column;
    gap: 15px;
}

.reg_log_form input {
    width: 250px;
    /*outline: white;*/
    /*border-color: white;*/
    border-radius: 5px;
    /*background-color: #000000;*/
    /*color: white;*/
    padding: 5px 10px;
}

.reg_log_form input::placeholder {
    font-style: italic;
    /*color: rgba(255, 255, 255, 0.5);*/
}

.reg_log_form button {
    margin-top: 15px;
    width: 250px;
    padding: 5px 10px;
    /*background: black;*/
    border-radius: 5px;
    /*border-color: white;*/
    /*color: white;*/
    cursor: pointer;
    transition: 0.5s;
}

.reg_log_form button:hover {
    background: white;
    color: #2a2a2a;
}


.login_inps_wrapper input {
    margin-top: 15px;
}

.login_inps_wrapper p.lost_password_text {
    text-align: end;
    margin-top: 15px;
}

.login_inps_wrapper button {
    margin-top: 30px;
}

/*.completed_exercise ~ :has(.tugri){*/
/*    color: rgba(0, 255, 255, 0.91);*/
/*}*/
.completed_exercise.tugri {
    color: #08e308;
}

.completed_exercise.xato {
    color: rgba(255, 0, 0, 0.8);
}

.completed_info {
    font-size: 30px;
}

.info_about_selected_variant {
    font-size: 15px;
    margin-left: 13px;
}

.user_info_table {
    display: flex;
    margin: 30px auto 40px;
}

.son_box {
    border: 2px solid var(--result-tb);
}

.son_box p {
    font-size: 17px;
    text-align: center;
}

.user_info_row {
    display: flex;
}

.box {
    border: 2px solid var(--result-tb);
    width: 200px;
}

.box div {
    border-bottom: 2px solid var(--result-tb);
}

.son_box div {
    border-bottom: 2px solid var(--result-tb);
}

.box div.tugri {
    background: rgba(0, 128, 0, 0.29);
}

.box div.xato {
    background: rgba(220, 20, 60, 0.32);
}


.box h5 {
    text-align: center;
    padding: 7px 0;
    border-bottom: 2px solid var(--result-tb);
}

.son_box h5 {
    text-align: center;
    padding: 7px 0;
    border-bottom: 2px solid var(--result-tb);
}

.info-text {
    margin-left: 20px;
    font-size: 17px;
}

.main_result_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chotkifoiz {
    color: #00ff2b;
}

.yaxshifoiz {
    color: darkseagreen;
}

.yomonfoiz {
    color: #e05b07;
}

.ggfoiz {
    color: red;
}

.user_ava_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.user_ava_img_2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin: 10px 0;
    margin-left: 50%;
    transform: translateX(-50%);
}


.change_language_form {
    display: flex;
    align-items: center;
}

.theme_icon {
    width: 1em;
}

.avatar_wrap {
    display: flex;
    gap: 30px;
    width: 65%;
}

.user_ava {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    /*width: 100px;*/
}

.user_ava:hover {
    cursor: zoom-in;
}

.profile_datas_container {
    /*border: 1px solid red;*/
    display: flex;
}

.profile_datas_box {
    width: 50%;
}

.user_completed_subject_box {
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid var(--profile-border);
}

.profile_data {
    width: 100%;
    overflow-wrap: break-word;
}

.profile_info_span {
    font-size: 14px;
    opacity: .7;
    letter-spacing: 1px;
}


.user_profile_info {
    padding-top: 3px;
    font-size: 16px;
}

.user_profile_info.bor_bot {
    margin-bottom: 10px;
    padding-bottom: 13px;
    border-bottom: 1px solid var(--profile-border);
}

.action_links_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.action_links_wrapper > div {
    display: flex;
    gap: 20px;
}

.user_completed_test_info_text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.result_link {
    display: inline-block;
    width: 100%;
    padding: 0 0 5px 10px;
    margin-bottom: 20px;
    border-left: 1px solid var(--profile-border);
    border-bottom: 1px solid var(--profile-border);
}

.user_completed_subject_text {
    text-align: center;
    font-size: 18px;
    opacity: .7;
    letter-spacing: 1px;
    margin: 7px 0;
}

.model_img {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}



.model_img > img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*max-width: calc(100vw * .85);*/
    max-height: calc(100vh * .85);
    object-fit: cover;
    object-position: center;
    animation-name: example;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes example {
  0%   {max-width: 0}
  100% {max-width: calc(100vw * .85)}
}